Repository Itsavirus-com/coolnomix-fe: changes, and which lefthook commands are due for each by the changed paths.
All: 1-tsc-compilation, 2-linting, 3-formatting

lefthook.yml:

rc: ./.lefthookrc

pre-commit:
  piped: true
  commands:
    1-tsc-compilation:
      skip: true
      glob: '*.{ts,tsx}'
      run: yarn tsc-files --noEmit --pretty {staged_files}
    2-linting:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint {staged_files} --fix && git add {staged_files}
    3-formatting:
      glob: '*.{js,ts,tsx,css,scss,md,json}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

pre-push:
  parallel: true
  commands:
    unit-test:
      glob: '*.{ts,tsx}'
      run: yarn jest --bail --findRelatedTests --passWithNoTests {push_files}

feat(ui): add AlertDialog component with various subcomponents for enhanced user interaction
  src/components/ui/alert-dialog.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(config): add components.json for project configuration and styling
  components.json
Due: 3-formatting

feat(table): rename some hook file
  src/components/table/use-table-params.ts
  src/hooks/use-toggle.ts
  src/services/swr/helpers/custom-swr.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(app): renaming component, hook, and type file
  app/app.tsx
  src/components/icon/Icon.tsx
  src/components/icon/icon.types.ts
  src/components/image/Image.tsx
  src/components/modal/Modal.tsx
  src/components/modal/modal.types.ts
  src/components/providers/Providers.tsx
  src/components/providers/Providers.types.ts
  src/components/table/table-params.hook.ts
  src/handlers/modal-handler/index.tsx
  src/hooks/device-detection.hook.ts
  src/hooks/network-status.hook.ts
  src/hooks/toggle.hook.ts
  src/services/swr/helpers/custom-swr.ts
  src/stores/modal-store.types.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(app): integrate sidebar and accordion components into the application layout
  app/app.tsx
  src/components/accordion/index.tsx
  src/components/accordion/types.ts
  src/components/app-sidebar/components/sidebar-menu-items/index.tsx
  src/components/app-sidebar/components/sidebar-menu-items/types.ts
  src/components/app-sidebar/components/sidebar-profile/index.tsx
  src/components/app-sidebar/components/sidebar-profile/types.ts
  src/components/app-sidebar/constant/admin-menu.ts
  src/components/app-sidebar/constant/index.ts
  src/components/app-sidebar/constant/super-admin-menu.ts
  src/components/app-sidebar/helpers/helpers.ts
  src/components/app-sidebar/index.tsx
  src/components/app-sidebar/types.ts
  src/components/header/index.tsx
  src/components/ui/accordion.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(modal): enhance modal component with alignment options and custom overlay background image
  src/components/modal/Modal.tsx
  src/components/modal/modal.types.ts
  src/components/ui/alert-dialog.tsx
  src/handlers/modal-handler/index.tsx
  src/stores/modal-store.actions.ts
  src/stores/modal-store.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix(app): update loading component opacity for improved visibility
  app/app.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(i18n): add getTranslate function for namespace-specific translations
  src/locales/i18n.ts
  src/utils/error-handler.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix(text): update smAlt text size class to adjust line height and refactor className usage to clsx
  src/components/text/helpers.ts
  src/components/text/index.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore(readme): streamline README content and remove outdated CI workflows
  .github/workflows/CI.yml
  .github/workflows/checkly.yml
  .github/workflows/code_completeness_tests.yml
  .github/workflows/crowdin.yml
  README.md
Due: 3-formatting

refactor(image): remove fill prop from Image component and update search input background color
  src/components/image/Image.tsx
  src/components/search-input/index.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(ui): add style to textarea component to disable resizing
  src/components/ui/textarea.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(sidebar): enhance sidebar style and file naming
  app/app.tsx
  src/assets/images/modal-overlay.png
  src/components/app-sidebar/components/sidebar-menu-items/index.tsx
  src/components/app-sidebar/constant/super-admin-menu.ts
  src/components/sidebar/Sidebar.tsx
  src/components/sidebar/components/sidebar-menu-items/SidebarMenuItems.tsx
  src/components/sidebar/components/sidebar-menu-items/sidebar-menu-items.types.ts
  src/components/sidebar/components/sidebar-profile/SidebarProfile.tsx
  src/components/sidebar/components/sidebar-profile/sidebar-profile.types.ts
  src/components/sidebar/constant/admin-menu.ts
  src/components/sidebar/constant/index.ts
  src/components/sidebar/constant/super-admin-menu.ts
  src/components/sidebar/sidebar.helpers.ts
  src/components/sidebar/sidebar.types.ts
  src/components/ui/sidebar.tsx
  src/config/paths/qna-path.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(styles): add header component styles and update theme borders
  src/assets/styles/components/header.css
  src/assets/styles/design-tokens/theme.css
  src/assets/styles/main.css
  src/assets/styles/plugins/shadcn.css
Due: 3-formatting

feat(button): change file naming and add customizable props and loading state
  src/components/button-group/ButtonGroup.tsx
  src/components/button-group/button-group.types.ts
  src/components/button-link/index.tsx
  src/components/button-link/types.ts
  src/components/button/Button.tsx
  src/components/button/ButtonControlled.tsx
  src/components/button/button.types.ts
  src/components/button/index.tsx
  src/components/forms/submit-button/index.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(description): change file naming andn add customizable label and title tag props
  src/components/description/Description.tsx
  src/components/description/description.types.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(dropzone): update dropzone styles to include flex layout and height adjustment
  src/assets/styles/plugins/dropzone.css
Due: 3-formatting

feat(sidebar): add client-group and client-branch menu items, update sidebar user type, and integrate modal and toast handlers
  app/app.tsx
  src/components/sidebar/components/sidebar-profile/SidebarProfile.tsx
  src/components/sidebar/constant/client-branch-menu.ts
  src/components/sidebar/constant/client-group-menu.ts
  src/components/sidebar/constant/technician-menu.ts
  src/components/sidebar/sidebar.helpers.ts
  src/components/ui/sidebar.tsx
  src/config/paths/list-of-branch.ts
  src/config/paths/qna-path.ts
  src/locales/en/common.json
  src/locales/en/index.ts
  src/locales/en/qna.json
  src/locales/en/sidebar.json
  src/stores/app-state-store.types.ts
  src/types/general.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(components): enhance some components style and behaviour
  src/components/description/Description.tsx
  src/components/description/description.types.ts
  src/components/forms/date-input/DateInput.tsx
  src/components/forms/date-input/date-input.types.ts
  src/components/forms/input/Input.tsx
  src/components/forms/input/input.types.ts
  src/components/forms/password-input/PasswordInput.tsx
  src/components/forms/text-area/TextArea.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/libs/utils.ts
  src/utils/form-error-handling.ts
  src/utils/required-string.ts
  src/utils/storage/storage.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix(workflows): update branch name from 'development' to 'dev' in code completeness tests
  .github/workflows/code_completeness_tests.yml
Due: none

chore(dependencies): add some new radix/ui dependencies
  package.json
  yarn.lock
Due: 3-formatting

feat(qna): implement language and equipment selection page
  app/(dashboard)/qna/_components/select-language-cards/SelectLanguageCard.tsx
  app/(dashboard)/qna/_components/select-language-cards/SelectLanguageCards.tsx
  app/(dashboard)/qna/_components/select-language-cards/select-language-cards.hook.ts
  app/(dashboard)/qna/_components/select-language-cards/select-language-cards.types.ts
  app/(dashboard)/qna/_components/user-guide/UserGuide.tsx
  app/(dashboard)/qna/layout.tsx
  app/(dashboard)/qna/page.tsx
  app/(dashboard)/qna/select-equipment/equipment.hook.ts
  app/(dashboard)/qna/select-equipment/equipment.scheme.ts
  app/(dashboard)/qna/select-equipment/equipment.types.ts
  app/(dashboard)/qna/select-equipment/page.tsx
  app/(dashboard)/qna/select-language/page.tsx
  src/assets/images/icon-asset-list.svg
  src/assets/images/icon-details-forms.svg
  src/assets/images/icon-tech-visit.svg
  src/assets/images/index.tsx
  src/assets/images/indonesia.svg
  src/assets/images/snowman.svg
  src/assets/images/success-animation.gif
  src/assets/images/tech-visit-success-animation.gif
  src/assets/images/united-kingdom.svg
  src/assets/styles/utilities/utils.css
  src/components/forms/select/Select.tsx
  src/components/forms/select/select.types.ts
  src/components/header/Header.tsx
  src/components/providers/Providers.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(qna): add selection cards and hooks for air conditioning requests
  app/(dashboard)/qna/_components/select-ac-request-cards/SelectAcRequestCard.tsx
  app/(dashboard)/qna/_components/select-ac-request-cards/SelectAcRequestCards.tsx
  app/(dashboard)/qna/_components/select-ac-request-cards/select-ac-request-cards.hook.ts
  app/(dashboard)/qna/_components/select-ac-request-cards/select-ac-request-cards.types.ts
  app/(dashboard)/qna/select-equipment/ac/page.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(qna): add asset list upload functionality and layout
  app/(dashboard)/qna/select-equipment/ac/[type]/@asset_list/asset-list.hook.ts
  app/(dashboard)/qna/select-equipment/ac/[type]/@asset_list/asset-list.scheme.ts
  app/(dashboard)/qna/select-equipment/ac/[type]/@asset_list/page.tsx
  app/(dashboard)/qna/select-equipment/ac/[type]/layout.tsx
  src/components/forms/file-uploader/ControlledFileUploader.tsx
  src/components/forms/file-uploader/FileUploader.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(config): add accepted file types for image uploads
  src/config/constant.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(qna): slicing tech visit form
  app/(dashboard)/qna/select-equipment/ac/[type]/@tech_visit/page.tsx
  app/(dashboard)/qna/select-equipment/ac/[type]/@tech_visit/success/page.tsx
  app/(dashboard)/qna/select-equipment/ac/[type]/@tech_visit/tech-visit.hook.ts
  app/(dashboard)/qna/select-equipment/ac/[type]/@tech_visit/tech-visit.scheme.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(qna): slicing refrigeration form page
  app/(dashboard)/qna/select-equipment/refrigeration/_components/refrigeration-form/RefrigerationForm.tsx
  app/(dashboard)/qna/select-equipment/refrigeration/_components/refrigeration-form/refrigeration-form.types.ts
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-chiller-form/WalkInChillerForm.tsx
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-chiller-form/walk-in-chiller-form.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-freezer-form/WalkInFreezerForm.tsx
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-freezer-form/walk-in-freezer-form.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/layout.tsx
  app/(dashboard)/qna/select-equipment/refrigeration/page.tsx
  app/(dashboard)/qna/select-equipment/refrigeration/refrigeration.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/refrigeration.types.ts
  app/(dashboard)/qna/select-equipment/refrigeration/regrigeration.scheme.ts
  app/(dashboard)/qna/select-equipment/refrigeration/review/page.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(app): update environment variables and remove unused configurations
  .env
  .env.development
  .env.production
  app/app.tsx
  app/layout.tsx
  checkly.config.ts
  crowdin.yml
  eslint.config.mjs
  messages/en.json
  next.config.ts
  package.json
  src/components/providers/Providers.tsx
  src/config/constant.ts
  src/i18n/request.ts
  src/instrumentation.ts
  src/libs/Env.ts
  src/locales/en/common.json
  src/locales/en/index.ts
  src/locales/en/qna.json
  src/locales/en/sidebar.json
  src/locales/en/validation.json
  src/locales/i18n.ts
  src/middleware.ts
  src/services/swr/helpers/custom-swr.ts
  src/utils/error-handler.ts
  src/utils/required-string.ts
  tsconfig.json
  yarn.lock
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(paths): add data log monitoring and list of branch paths
  src/config/paths/data-log-monitoring-path.ts
  src/config/paths/index.ts
  src/config/paths/list-of-branch-path.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

refactor(i18n): migrate components to use next-intl for translations
  src/components/forms/date-input/DateInput.tsx
  src/components/forms/date-range-input/DateRangeInput.tsx
  src/components/forms/file-uploader/ControlledFileUploader.tsx
  src/components/forms/file-uploader/FileUploader.tsx
  src/components/forms/file-uploader/file-uploader.helpers.ts
  src/components/forms/file-uploader/file-uploader.hook.ts
  src/components/forms/submit-button/SubmitButton.tsx
  src/components/forms/time-picker/TimePicker.tsx
  src/components/modal/Modal.tsx
  src/components/search-input/SearchInput.tsx
  src/components/sidebar/Sidebar.tsx
  src/components/sidebar/constant/admin-menu.ts
  src/components/sidebar/constant/client-branch-menu.ts
  src/components/sidebar/constant/client-group-menu.ts
  src/components/sidebar/constant/technician-menu.ts
  src/components/success-message-card/SuccessMessageCard.tsx
  src/components/success-message-card/success-message-card.types.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(qna): add AssetListForm component for asset list uploads
  src/components/forms/date-range-input/date-range-input.types.ts
  src/components/forms/file-uploader/file-uploader.types.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore(ci): update Node.js version in code completeness tests from 16 to 20
  .github/workflows/code_completeness_tests.yml
Due: none

feat(env): recreate env libs file
  src/libs/env.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(components): set breadcrumb and description component to client rendering
  src/components/breadcrumbs/Breadcrumb.tsx
  src/components/description/Description.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(translation): configure next-intl with custom request locale and messages
  next.config.ts
  src/locales/request.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting
