Repository Itsavirus-com/coolnomix-fe: changes, and which lefthook commands are due for each by the changed paths.
All: 1-tsc-compilation, 2-linting, 3-formatting

lefthook.yml:

rc: ./.lefthookrc

pre-commit:
  piped: true
  commands:
    1-tsc-compilation:
      skip: true
      glob: '*.{ts,tsx}'
      run: yarn tsc-files --noEmit --pretty {staged_files}
    2-linting:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint {staged_files} --fix && git add {staged_files}
    3-formatting:
      glob: '*.{js,ts,tsx,css,scss,md,json}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

pre-push:
  parallel: true
  commands:
    unit-test:
      glob: '*.{ts,tsx}'
      run: yarn jest --bail --findRelatedTests --passWithNoTests {push_files}

feat(review-tabs): enhance loading state handling on review tabs component
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/review-tabs/ReviewTabs.tsx
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/review-tabs/review-tabs.hook.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

refactor: centralize ButtonGroupType definition and improve type organization
  src/components/button-group/button-group.types.ts
  src/types/general.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat: enhance Image and MediaInputPreview components with better accessibility and performance
  src/components/image/Image.tsx
  src/components/media-input-preview/MediaInputPreview.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat: add internationalization text for media input preview accessibility
  messages/en.json
Due: 3-formatting

refactor: integrate ButtonGroupType across form hooks and improve button handling logic
  app/(dashboard)/qna/select-equipment/_components/select-equipment-form/select-equipment-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/_components/select-ac-request-cards/SelectAcRequestCard.tsx
  app/(dashboard)/qna/select-equipment/ac/_components/select-ac-request-cards/select-ac-request-cards.hook.ts
  app/(dashboard)/qna/select-equipment/ac/asset-list/_components/asset-list-form/asset-list-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/_components/step-one-form/step-one-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/_components/step-two-form/step-two-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/_components/upload-form/upload-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/phase-one-form/phase-one-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/phase-two-form/phase-two-form.hook.ts
  app/(dashboard)/qna/select-equipment/ac/tech-visit/_components/tech-visit-form/tech-visit.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-chiller-form/walk-in-chiller-form.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/_components/walk-in-freezer-form/walk-in-freezer-form.hook.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore: update cursor rules for optimized Next.js TypeScript best practices
  .cursor/rules/optimized-nextjs-typescript-best-practices-modern-ui-ux.mdc
Due: none

chore: add conventional commit rules and git template
  .cursor/rules/conventional-commit-branch-naming.md
  .gitmessage
Due: 3-formatting

docs: add git workflow and PR documentation rules
  .cursor/rules/git-workflow-and-pr-documentation.md
Due: 3-formatting

chore: update cursor rules file extension to mdc
  .cursor/rules/conventional-commit-branch-naming.mdc
  .cursor/rules/git-workflow-and-pr-documentation.mdc
Due: none

feat: add empty state message for done reports
  messages/en.json
  src/components/report-lists/report-lists.helpers.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

docs: simplify PR workflow rules and template format
  .cursor/rules/git-workflow-and-pr-documentation.mdc
Due: none

docs: update PR template to be more concise
  .cursor/rules/git-workflow-and-pr-documentation.mdc
Due: none

docs: add branch compatibility rules for commits
  .cursor/rules/git-workflow-and-pr-documentation.mdc
Due: none

fix: improve accordion content overflow behavior
  src/components/ui/accordion.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat: add required indicator to file uploader component
  src/components/forms/file-uploader/ControlledFileUploader.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix: improve phase two form stability and code cleanup
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/phase-two-form/phase-two-form.helpers.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/phase-two-form/phase-two-form.hook.ts
  src/utils/files.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix: remove error styling from form label component
  src/components/ui/form.tsx
Due: 1-tsc-compilation, 2-linting, 3-formatting

refactor: optimize core hooks for better performance and SSR compatibility
  src/components/progress/progress.hook.ts
  src/hooks/device-detection.hook.ts
  src/hooks/network-status.hook.ts
  src/hooks/toggle.hook.ts
  src/hooks/use-mobile.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat: add URL params management and optimize tab handling
  app/(dashboard)/qna/select-equipment/ac/details-forms/_components/step-form-tabs/step-form-tabs.hook.ts
  app/(dashboard)/qna/select-equipment/ac/details-forms/review/_components/review-tabs/review-tabs.hook.ts
  app/(dashboard)/qna/select-equipment/refrigeration/_components/refrigeration-tabs/refrigeration-tabs.hook.ts
  src/hooks/url-params.hook.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

refactor: improve file utilities with better error handling and type safety
  src/utils/files.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

feat(auth): add route protection and session management
  app/layout.tsx
  app/lib/session.ts
  middleware.ts
  next.config.ts
  src/components/sidebar/components/sidebar-profile/sidebar-profile.hook.ts
  src/config/constant.ts
  src/config/constants/routes.ts
  src/config/paths/index.ts
  src/handlers/auth-handler/AuthHandler.tsx
  src/hooks/useAuthCookies.ts
  src/stores/auth-store.actions.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

fix(qna): add loading state handling for AC request
  app/(dashboard)/qna/select-equipment/ac/_components/select-ac-request-cards/select-ac-request-cards.hook.ts
Due: 1-tsc-compilation, 2-linting, 3-formatting

chore: update branch name in deploy workflow from 'feat/cicd' to 'feat/d'
  .github/workflows/deploy_to_dev.yml
Due: none
